<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href = "/css/header.css" rel = "stylesheet">
    <link href = "/css/reset.css" rel = "stylesheet">
</head>
<body>
<% include blocks/header.ejs %>
    
</body>
</html>       