<header>
<div class = "mheader">
<div class = "logo">
   <span href="/"><span id = "s1C">C</span>ode<span id = "s1H">H</span>all</span>  
</div>   

<nav class ="menu">
   <ul>
    <li><a href="/">Главная</a></li> 
    <li><a href="/about">О нас</a></li>   
    <li><a href="/news">Новости</a></li>
    <li><a href="/public">Публикации</a></li>
   </ul> 
</nav>  
</div>                      
</header>
